--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

torch==2.10.0
torchvision==0.24.1
torchaudio==2.9.1

ipywidgets>=7.0.0
tqdm
numpy
pandas
librosa
matplotlib
seaborn
scikit-learn
kagglehub
ipykernel
IPython
opencv-python
soundfile
pydub
ttach
pillow
joblib
prettytable
PyWavelets
fastai
fastapi
uvicorn
python-multipart
fastapi[standard]