--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0

ipywidgets>=7.0.0
tqdm
numpy
pandas
librosa
matplotlib
seaborn
scikit-learn
kagglehub
ipykernel
IPython
opencv-python
soundfile
pydub
ttach
pillow